@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

* {
    font-family: 'Almarai', sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

.cairo {
    font-family: "Cairo", sans-serif !important;
}

.text-purple {
    color: #433472 !important;
}

.bg-purple {
    background-color: #433472 !important;
}

.text-gray {
    color: #7E7D7D !important;
}

button {
    background-color: #433472 !important;
    border: none !important;
    font-family: "Cairo", sans-serif !important;
}

a {
    text-decoration: none !important;
}

/* fonts */
.fw-bold900 {
    font-weight: 900 !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-10 {
    font-size: 12px !important;
}

.form-check-input:checked {
    background-color: #433472 !important;
    border-color: #433472 !important;
}

/* fqa */
.accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 3rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 1rem;
    position: absolute;
    left: 1rem;
}

.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
    padding: 0.5rem 3rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to left, transparent, #34495e, transparent) 1;
}

/* end faq */

/* router link style */
.categories a {
    color: #6b6a6d;
    transition: all 0.3s ease-in-out;
}

.categories a:hover {
    color: #1bd468a1;
}

.categories a.router-link-exact-active {
    padding: 5px;
    font-weight: bold;
    color: #1bd468 !important;
    transition: all 0.3s ease-in-out;
    background-color: #205c390a;
}

/* forms */
.form-control:focus {
    color: #000000 !important;
    background-color: #ffffff !important;
    border: 1px solid #433472 !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #43347200 !important;
}

.form-select:focus {
    color: #000000 !important;
    background-color: #ffffff !important;
    border: 1px solid #433472 !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #43347200 !important;
}

/* inpu form */
.form-control {
    border-radius: 0 !important;
    border: 1px solid #c9c9c9 !important;
    border-bottom-left-radius: 7px !important;
    border-top-left-radius: 7px !important;
    border-right: 1px solid rgba(107, 107, 107, 0.788) !important;
}

/* input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* cards */
.card-body {
    padding-top: 5px !important;
}

.col-md-4 .list-group {
    padding: 10px 0 !important;
}

/* tables */
.table thead th {
    color: #433472;
    padding: 10px;
}

table>tbody td {
    padding: 10px 10px;
}

table>thead tr {
    border-bottom: 1px solid rgba(189, 187, 187, 0.37);
    border-top: 1px solid rgba(189, 187, 187, 0.37);
}

table>tbody td img {
    object-fit: cover;
}

/* reviews */
.bg-gold {
    color: gold;
}

::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}

/* media query */
@media only screen and (min-width: 992px) {
    .cards {
        width: 100%;
    }

    .cards img {
        height: 190px;
        object-fit: cover;
    }
}


@media (max-width: 767px) {
    html {
        font-size: 14px;
    }
}

/* remove nav bar in larg screen */
@media only screen and (min-width: 600px) {
    .navbarsmalldvice {
        display: none !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    table>tbody td img {
        object-fit: cover !important;
        max-width: 50px !important;
        max-height: 50px !important;
    }
}